:root{
    --font-color: #4A536B;
    --background-color: rgb(236, 236, 236);
    --background-color-dark: #4A536B;
    --background-color-form-input: #D4F9FF;
}

@font-face {
    font-family: party ;
    src: url(../fonts/PartyConfettiRegular-eZOn3.ttf);
}

.blog-page{
    display: grid;
    grid-template-columns: 70% 30%;
  
    
}
.blog-image{
    width: 100%;
    padding-top: 15px;
    height: auto;
}
.blog-title{
    font-size: 30px;
    background-color: white;
    text-align: left;
    padding: 10px;
    font-weight: 800;
    text-transform: uppercase;
}
.blog-details{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    justify-items: left;
    color: #79829b;
}
.blog-content{
    background-color: white;
    padding: 30px;
}
.blog-add-comment{
    text-align: center;
    padding: 20px;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}
.blog-add-comment>input{
    margin-bottom: 20px;
    padding: 10px;
}
.blog-add-comment>input[type=text]{
    width: 80%;
    height: 90px;
    
}
.blog-add-comment>input[type=name]{
    width: 40%;
    height: 35px;
}
.blog-add-comment>input[type=email]{
    width: 40%;
    height: 35px;
    
}
.blog-add-comment>input[type=submit]{
    width: 80%;
}
.blog-comment{
    background-color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 15px;
}
.blog-comment-name{
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.blog-comment-content{
    inline-size: 80%;
    margin: auto;
    margin-bottom: 40px;
    text-align: left;
}
.comment-title{
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    width: 80%;
}
.blog-comment-date{
    font-size: smaller;
}
.blog-comment-border{
    border-bottom: 1px solid gray;
}
.blog-ads{
    width: 100%;
}
.blog-ads>img{
    width: 90%;
    margin: 15px 20px;
    
}
.blog-others{
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 10px;
    background-color: white;
}
.blog-others>div{
    display: flex;
    text-align: left;
    margin-bottom: 15px;
}
