:root{
    --font-color: #4A536B;
    --background-color: rgb(236, 236, 236);
    --background-color-dark: #4A536B;
    --background-color-form-input: #D4F9FF;
}

@font-face {
    font-family: party ;
    src: url(../fonts/PartyConfettiRegular-eZOn3.ttf);
}

@media screen and (max-width:600px){
    .nav-bar-desktop{
        display: none;
    }
    .nav-bar-mobile-icon{
        display:block;
        margin-top: 10px;
        margin-right: 10px;
    }
    .nav-bar-mobile{
        position:fixed;
        bottom: 0px;
        width: 100vw;
        padding: 15px 0px;
        display: flex;
        font-size: xx-small;
        background-color: rgb(255, 255, 255);
        border-radius: 10px 10px 0px 0px;
    
    }
    
    .nav-bar-mobile >div{
        margin-inline-end: 25vw;
        text-align: center;
    }
    
    .nav-bar-mobile >div:first-child{
        margin-inline-start: 15vw;
    }
    .back-img{
      height: 1000px; 
    }
    footer{
        
        background-color: #4A536B;
        font-size: x-small;
        padding-bottom: 100px;
        padding: 0px;
    }
    .footer-item{
        display:grid;
        grid-template-columns: auto auto auto;
        color: #AED6DC;
        padding-inline-start: 10px;
        text-align: center;
    }
    .footer-item > div > img{
        width: 50px;
        height: 50px;
    }
    .footer-item>div{
        text-align: start;
    }
    .footer-item >div> p{
        color: #aed6dc9f;
        text-align: start;
        
    }
    .footer-box{
        margin-top: 40px;
        margin-left: 10px;
        
    }
    .mobile-menu-content{
        position: fixed;
        display: block;
        top: 0px;
        width: 80vw;
        height: 100vh;
        font-size: medium;
        background-color: rgb(85, 85, 85);
        opacity: 0.9;
        color: white;
        z-index: 1;
        padding-top: 80px;
        animation-name: mobile-menu;
        animation-duration: 1s;
        animation-timing-function:cubic-bezier(0.19, 1, 0.22, 1);
    }
    @keyframes mobile-menu {
        from {width:0vw;
             }
        to {width: 80vw;
            }
    }
    .mobile-menu-item{
        padding: 10px;
        border-bottom: 1px solid white ;
        margin-right: auto;
        font-size: large;
        margin-bottom: 25px;
    }
    
    .none{
        display: none;
        width: 100%;
        animation-name: none;
        animation-duration: 1s;
        
    }
    @keyframes none- {
        from{width: 100%;}
        to{width: 0%;}
    }
    .gallery{
        background-color: white;
        width: 100vw;
        position: relative;
    }
    .gallery-view{
        display: flex; flex-direction: row;
        overflow: scroll;
        scroll-snap-type:x mandatory;
    }

    .gallery-img{
        height: 400px;
        width: 100vw;
        object-fit: cover;
        scroll-snap-align: start;
    }
    .info-event{
        margin: 50px auto; 
        width: 80vw; 
        font-weight: 500; 
        font-size:20px; 
        text-align: center;
    }
    .activity-header{
        text-align: left;
        color: #4A536B;
        font-size: 30px;
    }
    .activity-title{
        font-size:30px; 
    }
    .activity > div{
        width: 100%;
    }
    .special-video-clip{
        height: 300px;
    }
    .ticket-border{
        border-width: 3px ;
        border-style: solid;
        border-radius: 10px;
        border-image:linear-gradient(to right, rgb(0, 229, 255),rgb(15, 26, 85)) 1; 
        height: 200px; 
        width: 90%;
        margin-bottom: 20px; 
        padding: 10px;
    }
    .contact-phone{
        width: 99%;
      
        padding: 0;
    }
    .contact-email{
        width: 99%;
      
        padding: 0;
    }
    .contact-email-item > div:first-child{
        margin: 0 10px;
    }
    .contact-email-item{
        padding:15px 30px;
    }
    .contact-phone-item > div:first-child{
        margin: 0 10px;
    }
    .contact-phone-item{
        padding:15px 30px;
    }
    .Ticket-info{
        inline-size: 270px; 
        text-align:start ; 
        padding: 10px;
        width: 270px;
        margin: auto;
    }
    .ticket-img-container >img{
        width: 350px;
        height: 150px;
    }
    .ticket-container{
        width: 100%;
    }
    .ticket-img-container{
        width: 350px;
    }
    .ticket-bottom{
        width: 300px;
    }
    .add-ticket{
        width: 80px;
        margin-left: 35px;
    }
    .get-ticket-btn{
        font-size: x-small;
    }
    .Ticket-header{
        height: 180px;
        padding-left: 30px;
    }
    .ticket-dots{
        height: 150px;
    }
    .ticket-clip-top{
        
        left: 68%;top: -7.5%;
    }
    .ticket-clip-bottom{
      
        left: 68%;top: 97%;
    }
    .cart-container{
      
        display: grid;
        grid-template-columns: auto;
    }
    .cart-summary-container{
        padding: 15px;
        display: flex;
        flex-direction: row;
    }
    .cart-summary{
        width:100%;
    }
    .your-order-item{
        display: block;
        text-align: left;
        margin-left: 25px;
        font-size: small;
    }
    .your-order-item>div{
        margin-bottom: 10px;
    }
    .customer-form >input[type=submit]{
        background-color: var(--background-color-dark);
        color: #AED6DC;
        width: 80%;
    }
    .customer-details{
       
        width: 80%;
    }
    .make-payment{
        width: 60%;
    }
    .search-btn{
        width: 80vw;
        border-radius: 25px;
        height: 50px;
        border: none;
        box-shadow: #00000028 3px 3px 5px;
        padding: 20px;
    }
    .mobile-search{
       font-size: medium;
    }
    .hide-search{
        background-color: rgb(112, 112, 112); 
        width:20px; 
        height: 20px; 
        border-radius: 50%; 
        position: fixed; 
        top: 92px; 
        left:auto; 
        right: 14vw; 
        padding: 2px; 
        text-align: center;
        z-index: 11; 
        color: white;
    }
    .search-background{
        height:92vh;width: 100vw; z-index: 9; 
        background-color: #3333337e; 
        position: fixed; top: 0px;
    }
    .dashboard{
        display: grid;grid-template-columns: 100%;    
    }
    .ticket-qr{
        background-color: white;
        padding: 2px;
        position: absolute;
        top:40;left:74%;
    }
    .ticket-qr>img{
        width: 70px;
    }
    .event_top{
        display: flex; flex-direction: column;
    }
    .event_top>div{
        width: 100%;
      
    }
    .event_top>div>img{
        height: 100%; width: 100%;
        object-fit: cover;
    }
    .event_top_list{
        padding:0px;
        background-color: white;
    }
    .event_top_list>div:first-child{
       padding-left: 30px;
    }
    .event_top_list>div:nth-child(2){
        padding-left: 30px;
        inline-size: 70%;
    }
    .event_top_list>div:nth-child(3){
        margin-left: 30px;
    }
    
}
    
