{% load static %}
    <head>
        <title>FibbleBox</title>
        <meta charset="utf-8">
        <meta name="theme-color" content="#D4F9FF">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />    
        <link rel="shortcut icon" href="{% static 'logos/fibble_box_logo.png' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'css/events.css' %}">
        <link rel="stylesheet" href="{% static 'css/events_mobile.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        
    </head>
    <body>
        <div class="nav-bar">
            <h3 style="margin-left: 5%;">
                <a href="{% url 'Events:event' event.name %}" style="color: black;"> {{event.name}} </a>
            </h3>
            <div style="margin: 20px auto; position: relative;margin-left: 50vw;" id="cart-bag">
                <div class="cart-item"></div>
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve" width="24px" >
            <g>
            <path d="M24,22c0,0.553,0.448,1,1,1s1-0.447,1-1c0-2.206-1.794-4-4-4s-4,1.794-4,4c0,0.553,0.448,1,1,1s1-0.447,1-1
                c0-1.103,0.897-2,2-2S24,20.897,24,22z"/>
            <path d="M38,18c-2.206,0-4,1.794-4,4c0,0.553,0.448,1,1,1s1-0.447,1-1c0-1.103,0.897-2,2-2s2,0.897,2,2c0,0.553,0.448,1,1,1
                s1-0.447,1-1C42,19.794,40.206,18,38,18z"/>
            <path d="M53,14V0H7v14H6v46h48V14H53z M50.5,14l-5.18-6.906L50.414,2H51v12H50.5z M17,14V7c0-0.024-0.012-0.046-0.014-0.07
                c-0.005-0.064-0.02-0.124-0.036-0.187c-0.011-0.042-0.01-0.085-0.027-0.125c-0.009-0.022-0.027-0.039-0.037-0.061
                c-0.027-0.055-0.065-0.102-0.103-0.152c-0.028-0.036-0.044-0.081-0.077-0.113L12.414,2h35.172l-4.292,4.292
                c-0.032,0.032-0.049,0.077-0.077,0.113c-0.038,0.05-0.075,0.097-0.102,0.152c-0.011,0.022-0.028,0.038-0.038,0.061
                c-0.017,0.04-0.016,0.084-0.027,0.125c-0.017,0.063-0.032,0.122-0.036,0.187C43.012,6.954,43,6.976,43,7v7H17z M12,14l3-4.001V14
                H12z M45,9.999L48,14h-3V9.999z M9,2h0.586l5.094,5.094L9.5,14H9V2z M52,58H8V16h44V58z"/>
            <path d="M38,21c-0.552,0-1,0.447-1,1v6c0,3.859-3.14,7-7,7s-7-3.141-7-7v-6c0-0.553-0.448-1-1-1s-1,0.447-1,1v6
                c0,4.963,4.038,9,9,9s9-4.037,9-9v-6C39,21.447,38.552,21,38,21z"/>
            </g>
            </svg>
            </div>
            <div class="nav-bar-desktop">
                <div><a href="#event-about">About</a></div>
                <div> <a href="{% url 'Events:ticket' event.name %}">Ticket Pricing</a></div>
                <div> <a href="#special-video">Special Video</a></div>
                <div><a href="#event-contact"> Contact</a></div>
            </div>
            <div class="nav-bar-mobile-icon" id="hamburger-icon" onclick="menuToggel()"> 
                <svg fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 64 64" width="32px" height="32px"><path d="M7 29v5l50 1v-7L7 29zM7 11v6h50v-6H7zM7 46v7l50-1v-5L7 46z"/></svg>
                <?xml version="1.0" standalone="no"?>
                
            </div>
            <div class="none" id="cancle-icon" onclick="menuToggel()">
                <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
                "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
                <svg fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="30px" height="30px"><path d="M 9.15625 6.3125 L 6.3125 9.15625 L 22.15625 25 L 6.21875 40.96875 L 9.03125 43.78125 L 25 27.84375 L 40.9375 43.78125 L 43.78125 40.9375 L 27.84375 25 L 43.6875 9.15625 L 40.84375 6.3125 L 25 22.15625 Z"/></svg>
            
            </div>
        </div>
        <div class="none" id="mobile-menu-content">
            <div class="mobile-menu-item" style="border-top: 1px solid white; padding-top:30px; margin-top: -15px;">
                <a href="#event-about">About</a>
            </div>
            <div class="mobile-menu-item">
                <a href="{% url 'Events:ticket' event.name %}">Ticket Pricing</a>
            </div>
            <div class="mobile-menu-item">
                <a href="#special-video">Special Video</a>
            </div>
            <div class="mobile-menu-item">
                <a href="#event-contact"> Contact</a>
            </div>
        </div>
    <script type="text/javascript">
        var user = '{{request.user}}'

       function getToken(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getToken('csrftoken');

    function getCookies(name){

        var cookieArr = document.cookie.split(";");

        for(var i = 0;i < cookieArr.length; i++) {
            var cookiePair = cookieArr[i].split("=");

            if(name == cookiePair[0].trim()){
                
                return decodeURIComponent(cookiePair[1])
            }
        }

        return null;
    }

    var my_cart = JSON.parse(getCookies('cart'))

    if(my_cart == undefined){
        my_cart = {}
        console.log('the cart was created')
        document.cookie = 'cart=' + JSON.stringify(my_cart) +";domain=;path=/"
    }
    console.log('Cart', my_cart)
    </script>
    <div style="height: 60px; background-color: none;"></div>

    {% block content %}



    {% endblock content %}
    <!-- the navbar mobile -->
    <div class="none" id="mobile-search">
        <form method=POST action="{% url 'search' %}" 
        style="position:fixed;top:80px;z-index:10;left:10vw;right:auto;">
        {% csrf_token %}
            <input type="search" name="search_input" id="" class="search-btn">
        </form>
        <div class="hide-search" id="close-search">
            <span style="font-size: 20px;">&#215;</span>
        </div>
    </div>
    <!-- the navbar mobile -->
        <div class="nav-bar-mobile">
            <div>
                <a href="{% url 'home' %}" style="text-decoration: none;color:#4A536B;">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 58.365 58.365" style="enable-background:new 0 0 58.365 58.365;" xml:space="preserve" width="25px">
                        <path d="M57.863,26.632l-8.681-8.061V5.365h-10v3.921L29.182,0L0.502,26.632c-0.404,0.376-0.428,1.009-0.052,1.414
                            c0.375,0.404,1.008,0.427,1.414,0.052l3.319-3.082v33.349h16h16h16V25.015l3.319,3.082c0.192,0.179,0.437,0.267,0.681,0.267
                            c0.269,0,0.536-0.107,0.732-0.319C58.291,27.641,58.267,27.008,57.863,26.632z M41.182,7.365h6v9.349l-6-5.571V7.365z
                            M23.182,56.365V35.302c0-0.517,0.42-0.937,0.937-0.937h10.126c0.517,0,0.937,0.42,0.937,0.937v21.063H23.182z M51.182,56.365h-14
                            V35.302c0-1.62-1.317-2.937-2.937-2.937H24.119c-1.62,0-2.937,1.317-2.937,2.937v21.063h-14V23.158l22-20.429l14.28,13.26
                            l5.72,5.311v0l2,1.857V56.365z"/>
                    </svg>
                </a>
            </div>
        
            <div style="text-decoration: none;color:#4A536B;" id="search-btn">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 52.966 52.966" style="enable-background:new 0 0 52.966 52.966;" xml:space="preserve" width="25px">
                    <path d="M51.704,51.273L36.845,35.82c3.79-3.801,6.138-9.041,6.138-14.82c0-11.58-9.42-21-21-21s-21,9.42-21,21s9.42,21,21,21
                        c5.083,0,9.748-1.817,13.384-4.832l14.895,15.491c0.196,0.205,0.458,0.307,0.721,0.307c0.25,0,0.499-0.093,0.693-0.279
                        C52.074,52.304,52.086,51.671,51.704,51.273z M21.983,40c-10.477,0-19-8.523-19-19s8.523-19,19-19s19,8.523,19,19
                        S32.459,40,21.983,40z"/>

                </svg>
            </div>
            <div>
                <a href="{% url 'Pageantry:user_page' %}" style="text-decoration: none;color:#4A536B;">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="25px">
                        <g>
                            <g>
                                <path d="M256,0c-84.83,0-153.6,85.965-153.6,192S171.17,384,256,384s153.6-85.965,153.6-192S340.83,0,256,0z M256,358.4
                                    c-70.579,0-128-74.65-128-166.4S185.421,25.6,256,25.6S384,100.25,384,192S326.579,358.4,256,358.4z"/>
                            </g>
                        </g>
                        <g>
                            <g>
                                <path d="M367.812,361.762c-6.869,6.682-14.182,12.689-21.82,18.099c24.388,11.332,45.781,20.753,64.051,28.732
                                    c67.797,29.585,76.356,35.439,76.356,52.207c0,11.597-11.418,25.6-25.6,25.6H51.2c-14.182,0-25.6-14.003-25.6-25.6
                                    c0-16.768,8.559-22.622,76.348-52.207c18.278-7.979,39.671-17.399,64.051-28.732c-7.637-5.41-14.95-11.418-21.82-18.099
                                    C37.598,410.539,0,417.075,0,460.8C0,486.4,22.921,512,51.2,512h409.6c28.279,0,51.2-25.6,51.2-51.2
                                    C512,417.075,474.402,410.539,367.812,361.762z"/>
                            </g>
                        </g>
                        
                    </svg>
                </a>
            </div>
        </div>

        <footer>
            <div class="footer-item">
                <div class="footer-box">
                    <img src="{% static 'logos/fibble_box_logo.png' %}" alt="">
                    <p style="margin-left: 10px;">Fibble Box</p>
                </div>
                <div>
                    <h4>services</h4>
                    <p>voting</p>
                    <p>pagentry</p>
                    <p>survey</p>
                    <p>ticket</p>
                </div>
                <div>
                    <h4>Contact Us</h4>
                    <a href="mailto:fibblebox@gmail.com" style="text-decoration:none; color:aed6dc9f;">
                        <p>E-mail</p>
                    </a>
                    <a href="https://wa.me/08187241462?text=Hi%20Fibblebox" style="text-decoration:none; color:aed6dc9f;">
                        <p>whatsapp</p>
                    </a>
                </div>
            </div>
            <div style=" color: rgba(205, 205, 235, 0.842); text-align: center;"> <H1>SPONSORS</H2></div>
                <div><p style="color: rgba(205, 205, 235, 0.842);text-align: center;">Terms and condition </p></div>
    
                <div><p style="color: rgba(205, 205, 235, 0.842);text-align: center;">2021 copyright(c) developed by winterdevelopers </p></div>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        </footer>
        <script>
            $(document).ready(function(){
              // Add smooth scrolling to all links
              $("a").on('click', function(event) {
            
                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                  // Prevent default anchor click behavior
                  event.preventDefault();
            
                  // Store hash
                  var hash = this.hash;
            
                  // Using jQuery's animate() method to add smooth page scroll
                  // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                  $('html, body').animate({
                    scrollTop: $(hash).offset().top
                  }, 800, function(){
               
                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                  });
                } // End if
              });
            });
            </script>
        <script type="text/javascript" src="{% static 'js/search.js' %}"></script>

    </body>