{% load static %}
    <head>
        <title>FibbleBox</title>
        <meta charset="utf-8">
        <meta name="theme-color" content="#D4F9FF">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />    
        <link rel="shortcut icon" href="{% static 'logos/fibble_box_logo.png' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'css/fibblebox.css' %}">
        <link rel="stylesheet" href="{% static 'css/fibblebox_mobile.css' %}">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="{% static 'css/blog_mobile.css' %}">


        
    </head>
    <body>
    <div class="nav-bar">
        <div class="nav-bar-head">
            <img src="{% static 'logos/fibble_box_logo.png' %}" alt="">
            <a style="text-decoration:none; padding: 0px; margin-left: 5px; margin-top: 6px;" href="{% url 'home' %}"><span style="color: #AED6DC;"> Fibble</span> <span style="color: #4A536B;">Box</span></a>
        </div>
        <div class="nav-bar-links">
            <div>home</div>
            <div>category</div>
            <div>about us</div>
            <div>contact</div>
            <div>login</div>
        </div>
        <div class="nav-bar-search">
            <input type='search' placeholder="  search..." id="search" onkeyup="simple_search()">
        </div>
    </div>
    <div class="search_item">
        <li class="search_list" >nuesa</li>
        <li class="search_list">fassa</li>
        <li class="search_list">lawsa</li>
    </div>     
    <script type="text/javascript">
       function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
    </script>
    <div style="height: 60px; background-color: none;"></div>

    {% block content %}


    {% endblock content %}
    <!-- the navbar mobile -->
        <div class="nav-bar-mobile">
            <div>
                <a href="{% url 'home' %}" style="text-decoration: none;color:#4A536B;">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 17H16V13H20V17ZM14 17H10V13H14V17ZM8 17H4V13H8V17ZM20 11H16V7H20V11ZM12 11C10.8954 11 10 10.1046 10 9C10 7.89543 10.8954 7 12 7C13.1046 7 14 7.89543 14 9C14 9.53043 13.7893 10.0391 13.4142 10.4142C13.0391 10.7893 12.5304 11 12 11ZM8 11H4V7H8V11Z" fill="#2E3A59"/>
                    </svg>
                    home 
                </a>
            </div>
            <div style="text-decoration: none;color:#4A536B;">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 23.27L3 16.27L4.62 15.01L11.99 20.74L19.37 15.001L21 16.27L12 23.27ZM12 19L3 12L4.62 10.74L11.99 16.47L19.37 10.73L21 12L12 19ZM12 14.73L4.63 9.00001L3 7.73001L12 0.730011L21 7.73001L19.36 9.00001L12 14.73Z" fill="#2E3A59"/>
                </svg>                    
                categories
            </div>
            <div style="text-decoration: none;color:#4A536B;">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20 20H4C2.89543 20 2 19.1046 2 18V5.913C2.04661 4.84255 2.92853 3.99899 4 4H20C21.1046 4 22 4.89543 22 6V18C22 19.1046 21.1046 20 20 20ZM4 7.868V18H20V7.868L12 13.2L4 7.868ZM4.8 6L12 10.8L19.2 6H4.8Z" fill="#2E3A59"/>
                </svg>
                contact
            </div>
            <div>
                <a href="{% url 'Pageantry:login' %}" style="text-decoration: none;color:#4A536B;">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="path"  d="M19 21H10C8.89543 21 8 20.1046 8 19V15H10V19H19V5H10V9H8V5C8 3.89543 8.89543 3 10 3H19C20.1046 3 21 3.89543 21 5V19C21 20.1046 20.1046 21 19 21ZM12 16V13H3V11H12V8L17 12L12 16Z" fill="#2E3A59" />
                </svg>                    
                login
                </a>
            </div>
        </div>

        <footer>
            <div class="footer-item">
                <div class="footer-box">
                    <img src="{% static 'logos/fibble_box_logo.png' %}" alt="">
                    <p style="margin-left: 10px;">Fibble Box</p>
                </div>
                <div>
                    <h4>services</h4>
                    <p>voting</p>
                    <p>pagentry</p>
                    <p>survey</p>
                    <p>ticket</p>
                </div>
                <div>
                    <h4>Go social</h4>
                    <p>telegram</p>
                    <p>twitter</p>
                    <p>instagram</p>
                    <p>whatsapp</p>
                </div>
            </div>
            <div style=" color: rgba(205, 205, 235, 0.842); text-align: center;"> <H1>SPONSORS</H2></div>
                <div><p style="color: rgba(205, 205, 235, 0.842);text-align: center;">Terms and condition </p></div>
    
                <div><p style="color: rgba(205, 205, 235, 0.842);text-align: center;">2021 copyright(c) developed by winterdevelopers </p></div>
        </footer>
        <script type="text/javascript" src="{% static 'js/fibblebox.js' %}"></script>
    </body>