{% load static %}
    <head>
        <title>FibbleBox</title>
        <meta charset="utf-8">
        <meta name="theme-color" content="#D4F9FF">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />    
        <link rel="shortcut icon" href="{% static 'logos/fibble_box_logo.png' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'css/fibblebox.css' %}">
        <link rel="stylesheet" href="{% static 'css/fibblebox_mobile.css' %}">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="{% static 'css/blog_mobile.css' %}">


        
    </head>
    <body>
    <div class="nav-bar">
        <div class="nav-bar-head">
            <a href="{% url 'home' %}">
                <img src="{% static 'logos/fibble_box_logo.png' %}" alt="">
                <div>
                    <span style="color: #AED6DC;"> Fibble</span> <span style="color: #4A536B;">Box</span>
                </div>
            </a>
        </div>
        <div class="nav-bar-links">
            <div>home</div>
            <div>about us</div>
            <div>contact</div>
            
            <div class="nav-bar-search">
                <input type='search' placeholder="  search..." id="search" onkeyup="simple_search()">
            </div>
        </div>
        
    </div>
    <div class="search_item">
        <li class="search_list" >nuesa</li>
        <li class="search_list">fassa</li>
        <li class="search_list">lawsa</li>
    </div>     
    <script type="text/javascript">
       function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
    </script>
    <div style="height: 60px; background-color: none;"></div>
   

    {% block content %}
    

    {% endblock content %}
    <div class="none" id="mobile-search">
        <form action="" style="position:fixed; top:80px; z-index:10; left: 10vw; right: auto;">
            <input type="search" name="" id="" class="search-btn">
        </form>
        <div class="hide-search" id="close-search">
            <span style="font-size: 20px;">&#215;</span>
        </div>
    </div>
    <div class="none" id="search-background"></div>
    <!-- the navbar mobile -->
        <div class="nav-bar-mobile">
            <div>
                <a href="{% url 'home' %}" style="text-decoration: none;color:#4A536B;">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 58.365 58.365" style="enable-background:new 0 0 58.365 58.365;" xml:space="preserve" width="25px">
                        <path d="M57.863,26.632l-8.681-8.061V5.365h-10v3.921L29.182,0L0.502,26.632c-0.404,0.376-0.428,1.009-0.052,1.414
                            c0.375,0.404,1.008,0.427,1.414,0.052l3.319-3.082v33.349h16h16h16V25.015l3.319,3.082c0.192,0.179,0.437,0.267,0.681,0.267
                            c0.269,0,0.536-0.107,0.732-0.319C58.291,27.641,58.267,27.008,57.863,26.632z M41.182,7.365h6v9.349l-6-5.571V7.365z
                            M23.182,56.365V35.302c0-0.517,0.42-0.937,0.937-0.937h10.126c0.517,0,0.937,0.42,0.937,0.937v21.063H23.182z M51.182,56.365h-14
                            V35.302c0-1.62-1.317-2.937-2.937-2.937H24.119c-1.62,0-2.937,1.317-2.937,2.937v21.063h-14V23.158l22-20.429l14.28,13.26
                            l5.72,5.311v0l2,1.857V56.365z"/>
                    </svg>
                </a>
            </div>
        
            <div style="text-decoration: none;color:#4A536B;" id="search-btn">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 52.966 52.966" style="enable-background:new 0 0 52.966 52.966;" xml:space="preserve" width="25px">
                    <path d="M51.704,51.273L36.845,35.82c3.79-3.801,6.138-9.041,6.138-14.82c0-11.58-9.42-21-21-21s-21,9.42-21,21s9.42,21,21,21
                        c5.083,0,9.748-1.817,13.384-4.832l14.895,15.491c0.196,0.205,0.458,0.307,0.721,0.307c0.25,0,0.499-0.093,0.693-0.279
                        C52.074,52.304,52.086,51.671,51.704,51.273z M21.983,40c-10.477,0-19-8.523-19-19s8.523-19,19-19s19,8.523,19,19
                        S32.459,40,21.983,40z"/>

                </svg>
            </div>
            <div>
                <a href="{% url 'Pageantry:login' %}" style="text-decoration: none;color:#4A536B;">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="25px">
                        <g>
                            <g>
                                <path d="M256,0c-84.83,0-153.6,85.965-153.6,192S171.17,384,256,384s153.6-85.965,153.6-192S340.83,0,256,0z M256,358.4
                                    c-70.579,0-128-74.65-128-166.4S185.421,25.6,256,25.6S384,100.25,384,192S326.579,358.4,256,358.4z"/>
                            </g>
                        </g>
                        <g>
                            <g>
                                <path d="M367.812,361.762c-6.869,6.682-14.182,12.689-21.82,18.099c24.388,11.332,45.781,20.753,64.051,28.732
                                    c67.797,29.585,76.356,35.439,76.356,52.207c0,11.597-11.418,25.6-25.6,25.6H51.2c-14.182,0-25.6-14.003-25.6-25.6
                                    c0-16.768,8.559-22.622,76.348-52.207c18.278-7.979,39.671-17.399,64.051-28.732c-7.637-5.41-14.95-11.418-21.82-18.099
                                    C37.598,410.539,0,417.075,0,460.8C0,486.4,22.921,512,51.2,512h409.6c28.279,0,51.2-25.6,51.2-51.2
                                    C512,417.075,474.402,410.539,367.812,361.762z"/>
                            </g>
                        </g>
                        
                    </svg>
                </a>
            </div>
        </div>

        <footer>
            <div class="footer-item">
                <div class="footer-box">
                    <img src="{% static 'logos/fibble_box_logo.png' %}" alt="">
                    <p style="margin-left: 10px;">Fibble Box</p>
                </div>
                <div>
                    <h4>services</h4>
                    <p>voting</p>
                    <p>pagentry</p>
                    <p>survey</p>
                    <p>ticket</p>
                </div>
                <div>
                    <h4>Go social</h4>
                    <p>telegram</p>
                    <p>twitter</p>
                    <p>instagram</p>
                    <p>whatsapp</p>
                </div>
            </div>
            <div style=" color: rgba(205, 205, 235, 0.842); text-align: center;"> <H1>SPONSORS</H2></div>
                <div><p style="color: rgba(205, 205, 235, 0.842);text-align: center;">Terms and condition </p></div>
    
                <div><p style="color: rgba(205, 205, 235, 0.842);text-align: center;">2021 copyright(c) developed by winterdevelopers </p></div>
        </footer>
        <script type="text/javascript" src="{% static 'js/fibblebox.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/search.js' %}"></script>
    </body>