<div style="padding: 10px;background-color: darkgray;">
    <div style="background-color: white;margin-bottom: 10px;">
        <div style="padding: 10px;display: flex;flex-direction: row;">
            <div>
                <p>A Night for all knight</p>
                <p>VIP</p>
            </div>
            <div style="margin-left: auto;">
                <p>#3400</p>
            </div>
        </div>
        <div style="padding: 10px;display: flex;flex-direction: row; border-top:1px black solid ;">
            <div>
                <p>- 2 +</p>
            </div>
            <div style="margin-left: auto;">
                <h3>X</h3>
            </div>
        </div>
    </div>
    <div style="background-color: white;padding: 10px;">
        <div style="display: flex; flex-direction: row; border-bottom: 1px solid black;">
            <div>
                Sub-Total
            </div>
            <div style="margin-left: auto;">
                #67890
            </div>
        </div>
        <div style="display: flex; flex-direction: row; border-bottom: 1px solid black;">
            <div>
                VAT
            </div>
            <div style="margin-left: auto;">
                #0.23
            </div>
        </div>
        <div style="display: flex; flex-direction: row;">
            <div>
                Total
            </div>
            <div style="margin-left: auto;">
                #787980
            </div>
        </div>
    </div>

    <div>checkout</div>
    
</div>