{% extends 'base.html' %}
{% load static %}
<script>

</script>
{% block content %}
<h3>{{event.name}}</h3>

<div class="event">
    <img src="{{event.eventBanner}}" alt="" style="object-fit: cover; background-position: center;">
    <div style="margin: 5px;">
        this where you would give the neccessary write ups you thik your 
        event would be needing and information you think that the people
        are entilted to know about your event so then i hope 
    </div> 
    {% for candy in office %}
    <h3 class="event-office-name">{{candy.office_name}} </h3>
    <div class="event-office">
    
    {% for cap in candidate %}
    
    {% if cap.office_name == candy.office_name %}  

    <div>
        <div class="img-box" style="background: url('{{cap.background_image_URL}}'); filter: blur(5px); -webkit-filter: blur(5px);" alt="back-img">
        </div>
        <div class="person-image">
            <img src="{{cap.personal_image_URL}}" alt="" style="height: 150px; width: 150px; border-radius: 50%;">
        </div>
        <h4 class="person-name">{{cap.name}}</h4>
        <a href="{% url 'fibblebox_app:candidate' cap.id %}"><div style="position: absolute; top:70%; left:40%; padding:10px 20px ; background-color:#4A536B; border-radius: 10px; color: white; font-weight: 700;">Vote</div></a>
        <div style="position: absolute; top:90%; left: 10%; background-color: rgb(136, 138, 138); height: 5px; width:65%; padding: 2px; border-radius: 5px;" ></div>
        <div style="position: absolute; top:90%; left: 10%;background-image:linear-gradient(to right, rgb(27, 18, 75),rgb(30, 247, 247)); height:5px; width:{% widthratio  cap.votes candy.office_total_votes 65 %}% ; padding:2px; border-radius:5px;" ></div>
        <div style="position: absolute; top:88%; left: 80%;"> {% widthratio  cap.votes candy.office_total_votes 100 %}% </div>
    </div>
        
    
    {% endif %} 
    
    {% endfor %}
        </div>
        <div style="background-color: grey; position: relative; top: -1px; height: 1px; margin: 20px 20px; "></div>
    {% endfor %}



<div class="summary">
    <div class="summary-content" >
        <h4>Time Remaining</h4>
        <div class="analytics-img-box">
            <img src="{% static 'images/time.png' %}" alt="" >
        </div>
        <div class="analytics-main" id="count-down">6days : 13hrs : 2mins</div>
    </div>
    <div class="summary-content">
        <h4>Total counts</h4>
        <div class="analytics-img-box">
            <img src="{% static 'images/ballot-box.png' %}" alt="" >
        </div>
        <div class="analytics-main">Total votes: {{event.total_votes}} </div>
    </div>
    <div class="summary-content">
        <h4>Ratings</h4>
        <div class="analytics-img-box">
            <img src="{% static 'images/star.png' %}" alt="">
        </div>
        <div class="analytics-main">Overall : 3.8</div>
    </div>
</div>


{% endblock %}