{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="head-banner">
    <div class="head-banner-text">
        <h3> The best activity<br> platform</h3>
         <p style="font-size: small;">Enjoy our services</p>
    </div>
    <div class="home-image">
        <img src="{% static 'images/trikky tee.jpg' %}" alt="face">
        <img src="{% static 'images/model2.jpg' %}" alt="face" >
        <img src="{% static 'images/model1.jpg' %}" alt="face" >
    </div>
</div>

<div class="categories" >
    <h4 style="text-align: center;text-transform:uppercase;">Categories</h4>
    <div class="categories-item">
        <a href="#pagentry" class="categories-link">
            <div>
                <div class="circle">
                    <img class="categories-img" style="margin-top: 5px;" src="{% static 'logos/pagentry-logo.png' %}" alt="pagentry-logo">
                </div>
                <p>pagentry</p>
            </div>
        </a>
        
            <div>
                <a href="#event" class="categories-link">
                <div class="circle"><img style="width: 50px; height: 50px;" src="{% static 'logos/event-logo.png' %}" alt="events-logo"></div>
                <p>Events</p>
                </a>
            </div>

        <div>
            <a href="#comperism" class="categories-link">
            <div class="circle"><img src="{% static 'logos/comperism-logo.png' %}" alt="Comperism-logo" class="categories-img" style="margin-top: 4px;"></div>
            <p>Feeds</p>
            </a>
        </div>
        <div>
            <div class="circle">
                <img src="{% static 'logos/survey-logo.png' %}" alt="survey-logo" style="width: 40px; height: 40px; margin-top: 4px; margin-left: 3px;">
            </div>
            <p>Survey</p>
        </div>
    </div>
</div>
<div class="ads1">
    <img src="{% static 'images/mike.jpg' %}" alt="advertisment">
    <div class="ads1-text">
        <h1 style="margin-bottom: -5px;">MIKE VENTURES</h1>
        <p>Most Trusted electronic dealer</p>
    </div>
</div>
<div id="top-events" style="padding-bottom: 20px;">
    <h3 style="margin-left: 15px;">Top Events</h3>
    <div class="top-events" >
        <div class="top-events-post">
            <img src="{% static 'images/9ja-party2.jpg'  %}" alt="post-image" height="200px" width="150px" style="border-radius: 10px;">
            <p>9ja party of winter</p>
        </div>
        <div class="top-events-post">
            <img src="{% static 'images/cafe.jpg'  %}" alt="post-image" height="200px" width="150px" style="object-fit: cover; background-position: center;border-radius: 10px;">
            <p>winter cafe</p>
        </div>
        <div class="top-events-post">
            <img src="{% static 'images/ebony.jpg'  %}" alt="post-image" height="200px" width="150px" style="border-radius: 10px;">
            <p>beauty ebony</p>
        </div>
        <div class="top-events-post">
            <img src="{% static 'images/face-abj.jpg'  %}" alt="post-image" height="200px" width="150px" style="border-radius: 10px;">
            <p>face of ABJ</p>
        </div>
        <div class="top-events-post">
            <img src="{% static 'images/face-anambra.jpg'  %}" alt="post-image" height="200px" width="150px" style="border-radius: 10px;">
            <p>face of Anambra</p>
        </div>
        
    
    </div>
</div>

<!-- pagentry -->
<div id="pageantry">
    <div class="category-header">
        <img src="{% static 'images/event1 (5).jpg' %}" alt="" >
        <div class="category-text1" style="color: rgb(198, 159, 29);"> PAGEANTRY </div>
        <div class="category-text2"> Who will be the next crowned... </div>

    </div>
    <div class="content">
        {% for pageantry in pageantries %}
        <div>
            <div  class="content-box">
                <img src="{{pageantry.pageantryBanner}}" alt="Awards" width="350px" height="150" style="filter: blur(5px); -webkit-filter: blur(5px); background-size: cover;">
                <div class="content-box-info">
                    <div>
                        <img src="{{pageantry.pageantryImage}}" alt="" width="150px" height="180px" style=" border-radius: 5px 0px 0px 5px;">
                    </div>
                    <div class="content-box-info-text">
                        <h5 class="pageantry_name">{{pageantry.name}}</h5>
                        <p style="margin-top: -25px; font-size: xx-small;">{{pageantry.date}}</p>
                        <p style="font-size: xx-small; font-weight: 600; padding-top: 10px;">
                            {{pageantry.discription}}
                        </p>
                    </div>
                </div>
                <div style="position: absolute; top: 80%; left: 75%; background-color: rgb(46, 46, 46); color: white; padding: 10px 15px; font-size: x-small; border-radius: 5px; font-weight: 600;">
                    <a href="{% url 'Pageantry:pageantry' pageantry.slug %}" style="color: white; text-decoration: none; ">VIEW</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<div>
    <div style=" width: 35vw; height: 50px; margin: 10px auto; text-align: center; position: relative;">
        <div class="content-viewmore">
            View more
        </div>
    </div>
</div>

<!--Advertisment-->
<div style="background-color: grey; position: relative; top: -1px; height: 1px; margin: 20px 50px; margin-bottom: 0px; "></div>
<div class="ads1">
    <img src="{% static 'images/mbgn.jpg' %}" alt="advertisment" width="100%" height="400px" style="object-fit: cover;">
    <div class="ads1-text">
        <h1 style="margin-bottom: -5px;">MBGN Awards</h1>
        <p>Most beautiful girl in Nigeria</p>
    </div>
    
</div>


<!--Events-->
<div style="position: relative; margin-bottom: 30px;">
    <img src="{% static 'images/event1 (1).jpg' %}" alt="" style="width: 100vw; height: 400px; object-fit: cover;">
    <div style="-webkit-text-fill-color: transparent; background:linear-gradient(to right,rgb(142, 255, 249),rgb(245, 242, 69));-webkit-background-clip: text;" class="category-text1"> EVENTS </div>
    <div class="category-text2"> looking for the hootest event? <br> we got you covered </div>

</div>
<div class="party">
    <div class="party-box">
    <img src="{% static 'images/cafe.jpg' %}" alt="party-image" class="party-image">
        <div class="party-info">
            <h2>Coal flex </h2>
            <h5>9 days to go</h5>
            <p>this party is for anyone that needs to fill the vibe of coal city</p>
        </div>
        <div class="party-footer">
            <div class="party-footer-others">
                <h4>Time</h4>
                <p>9:00 PM</p>
            </div>
            <a href="" class="event-btn">
                <div class="party-button">Let's party</div>
            </a>
            <div class="party-footer-others">
                <h4>Location</h4>
                <p>Enugu</p>
            </div>
        </div>
    </div>
    <!--  -->
    {% for event in events %}
    <div class="party-box">
        <img src="{{event.image_URL}}" alt="party-image" class="party-image">
        <div class="party-info">
            <h2>{{event.name}}</h2>
            <h5>{{event.date}}</h5>
            <p>{{event.phrase}}</p>
        </div>
        <div class="party-footer">
            <div class="party-footer-others">
                <h4>Time</h4>
                <p>{{event.time}}</p>
            </div>
            <a href="{% url 'Events:event' event.name %}" class="event-btn">
                <div class="party-button">Let's party</div>
            </a>
            <div class="party-footer-others">
                <h4>Location</h4>
                <p>{{event.location}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="party-box">
        <img src="{% static 'images/mbgn.jpg' %}" alt="party-image" class="party-image">
        <div class="party-info">
            <h2> Awka splash</h2>
            <h5>9 days to go</h5>
            <p>this party is for anyone that needs to fill the vibe of awka twon</p>
        </div>
        <div class="party-footer">
            <div class="party-footer-others">
                <h4>Time</h4>
                <p>11:00 PM</p>
            </div>
            <a href="" class="event-btn">
                <div class="party-button">Let's party</div>
            </a>
            <div class="party-footer-others">
                <h4>Location</h4>
                <p>Awka</p>
            </div>
        </div>
    </div>
</div>
<div>
    <div style=" width: 35vw; height: 50px; margin: 10px auto; text-align: center; position: relative;">
        <div class="content-viewmore">
            View more
        </div>
    </div>
</div>


<!-- Blog -->
<div style="position: relative; margin-top: 10px;">
    <img src="{% static 'images/event1 (6).jpg' %}" alt="" style="width: 100vw; height: 400px; object-fit: cover;margin-top: 20px;">
    <div class="category-text1" style="color: white;"> FEEDS </div>
</div>
<div class="blog">
    <div class="blog-post">
        <img src="{% static 'images/messi.jpg' %}" alt="" class="blog-image">
        <div class="blog-info">
            <h3>Why Messi is the Best</h3>
            <p>After a long rivary between messi and other players
                i think the only problems were....
            </p>
        </div>
        <div class="blog-button">
            <p>Explore</p>
        </div>
    </div>

    <div class="blog-post">
        <img src="{% static 'images/9ja-party2.jpg' %}" alt="" class="blog-image">
        <div class="blog-info">
            <h3>This party was rated 3rd</h3>
            <p>this party was a mind blowing event that actually shock the economy of the country....
            </p>
        </div>
        <div class="blog-button">
            <p>Explore</p>
        </div>
    </div>

    <div class="blog-post">
        <img src="{% static 'images/ronaldo.jpg' %}" alt="" class="blog-image">
        <div class="blog-info">
            <h3>Will ronaldo rise again</h3>
            <p>After a long rivary between ronaldo and other players
                i think the only problems were....
            </p>
        </div>
        <div class="blog-button">
            <p>Explore</p>
        </div>
    </div>
</div>
<div>
    <div style=" width: 35vw; height: 50px; margin: 10px auto; text-align: center; position: relative;">
        <div class="content-viewmore">
            View more
        </div>
    </div>
</div>

<div style="width: 90%; background-color: rgb(140, 140, 140); position: relative; top: 10px; height: 1px; margin: 20px auto;"></div>

<div class="others">
    <div class="others-a">
        <div style="width: 100%; background-color: #4A536B; border-radius: 10px 10px 0px 0px; text-align: center;height: 50px;">
            <div style="font-weight: 900; color: aliceblue;padding-top: 0.5px;"><p>NEWSLETTER</p></div>
                <div style="padding: 1px;"><p>Get our best offers and discounts</p></div>
                <div class="subscribe">
                    <form action="" method="post" style="display: block;">
                        <div ><input class="subscribe-email" type="email" placeholder="Add Email.." ></div>
                        <div><input class="subscribe-submit" type="submit button" value="subscribe"></div>
                    </form>
                </div>
            </div>
    </div>
</div>



{% endblock content %}