{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="pageantry">
    <img src="{{pageantry.pageantryBanner}}" alt="" style="object-fit:fill; background-position: center;">
    <h3 style="margin: 5px; text-align: center;">{{pageantry.name}}</h3>
    <div style="margin: 5px;">
        <div class="intro_text">{{pageantry.intro_text}} </div>
    </div> 
    <div style="background-color: grey; position: relative; top: -1px; height: 1px; margin: 20px 20px; "></div>

    {% for candy in office %}
    <h3 class="pageantry-office-name">{{candy.office_name}}</h3>
    <div class="pageantry-office">
    
    {% for cap in candidate %} 
    
    {% if cap.office_name == candy.office_name %}  

    <div>
        <div class="img-box" style="background: url('{{cap.background_image_URL}}'); filter: blur(5px); -webkit-filter: blur(5px);" alt="back-img">
        </div>
        <div class="person-image">
            <img src="{{cap.personal_image_URL}}" alt="" style="height: 150px; width: 150px; border-radius: 50%;">
        </div>
        <h4 class="person-name">{{cap.name}}</h4>
        <a href="{% url 'Pageantry:candidate' cap.id %}" class="vote-btn"><div style="position: absolute; top:70%; left:40%; padding:10px 20px ; background-color:#4A536B; border-radius: 10px; color: white; font-weight: 700;">Vote</div></a>
        <div style="position: absolute; top:90%; left: 10%; background-color: rgb(136, 138, 138); height: 5px; width:65%; padding: 2px; border-radius: 5px;" ></div>
        <div style="position: absolute; top:90%; left: 10%;background-image:linear-gradient(to right, rgb(27, 18, 75),rgb(30, 247, 247)); height:5px; width:{% widthratio  cap.votes candy.office_total_votes 65 %}% ; padding:2px; border-radius:5px;" ></div>
        <div style="position: absolute; top:88%; left: 80%;"> {% widthratio  cap.votes candy.office_total_votes 100 %}% </div>
    </div>
        
    
    {% endif %} 
    
    {% endfor %}
        </div>
    <div style="background-color: grey; position: relative; top: -1px; height: 1px; margin: 20px 20px; "></div>
    {% endfor %}
    <h2 style="text-align: center;">SPONSORS</h2>
    <div class="sponsors">
        {% for sponsor in sponsors %}
        <div >
            <img src="{{sponsor.imageURL}}" alt="sponsors" class="sponsor-img">
        </div>
        {% endfor %}
    </div>
    

<div class="summary">
    <div class="summary-content" >
        <h4>Time Remaining</h4>
        <div class="analytics-img-box">
            <img src="{% static 'images/time.png' %}" alt="" >
        </div>
        <div class="analytics-main" id="count-down">0days : 0hrs : 0mins</div>
        
    </div>
    <div class="summary-content">
        <h4>Total counts</h4>
        <div class="analytics-img-box">
            <img src="{% static 'images/ballot-box.png' %}" alt="" >
        </div>
        <div class="analytics-main">Total votes: {{pageantry.total_votes}} </div>
    </div>
    <div class="summary-content">
        <h4>Ratings</h4>
        <div class="analytics-img-box">
            <img src="{% static 'images/star.png' %}" alt="">
        </div>
        <div class="analytics-main">Overall : 3.8</div>
    </div>
</div>

<script>
    var count_down = new Date( "{{date|date:"Y-m-d"}}" ).getTime();
   
    var a = setInterval(function(){

        var now = new Date().getTime();

        var difference = count_down - now;

        var days = Math.floor(difference/(1000*60*60*24));
        var hours = Math.floor((difference % (1000*60*60*24))/(1000*60*60));
        var minutes = Math.floor((difference % (1000*60*60))/(1000*60));
        var seconds = Math.floor((difference % (1000*60))/1000);

        document.getElementById('count-down').innerHTML = days + "Days: " + hours +'Hrs: ' + minutes + 'Mins: ' + seconds + "Secs";
        
        
        if (difference < 0 ){
            clearInterval(a);

            document.getElementById('count-down').innerHTML = "ENDED"
        }
        
        return difference
    }, 1000);

    var now = new Date().getTime();
    var difference = count_down - now;
   
    var vote_btn = document.querySelectorAll('.vote-btn');
    console.log(vote_btn)
    if(difference < 0){
        for (let i = 0; i < vote_btn.length; i++ ){
            vote_btn[i].className = 'none'
        }
    }
    
</script>

{% endblock %}