{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="login-box">
   <div class="login-header">
       Sign Up
   </div>
   
   <form action="" class="login-form" method="post">
        {% csrf_token %}
        {% for form in forms %}
            {{form.label_tag}}
            {{form}}<br>
            
        {% endfor %}
        <div style="color:red; background-color:rgba(250, 2, 2, 0.274); padding: 5px; font-size: small;">{{forms.errors}}</div>
        <input type="submit" value="Sign up">
    </form>
    <div style="font-size:x-small; margin-left: 5%;">Already registered click to <a href="{% url 'Pageantry:login' %}"><span>login </span></a> </div>
</div>

{% endblock %}