{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="login-box">
   <div class="login-header">
       Sign Up
   </div>
   <form class="login-form" action="" method="post">
    <label for="username"> First name</label>   
    <input type="text" name="username">
    <label for="username"> Last name</label>   
    <input type="text" name="username">
    <label for="username"> Email</label>   
    <input type="email" name="username">
    <label for="username"> Username</label>   
    <input type="text" name="username">
    <label for="password"> Password</label>
    <input type="password">
    <label for="password">Confirm Password</label>
    <input type="password">
    <input type="submit" value="Sign up">
   </form>
   <div style="font-size:x-small; margin-left: 5%;">Already registered click to <u>Login</u> </div>
</div>

{% endblock %}