{% extends 'event_base.html' %}
{% load static %}

{% block content %}

<div style="background-color: rgb(236, 236, 236); padding-bottom: 30px;">
    <div class="your-order">
        <h1>Your order</h2>
        <div class="your-order-item">
            <div>
                Number of Ticket: 3
            </div>
            <div>
                Total cost of ticket: &#8358; 7,000
            </div>
        </div>
    </div>
    <div class="customer-details">
        customer details
        <form action="" method="" class="customer-form">
            {% csrf_token %}
            <input type="text" placeholder="Name">
            <input type="email" name="" id="" placeholder="Email">
            <input type="tel" name="" id="" placeholder="phone number">
            <input type="submit" value="submit">

        </form>
    </div>
    <div class="make-payment">
        make payment
    </div>
</div>

{% endblock %}