{% extends 'event_base.html'%}
{% load static %}
{% block content %}

<div style="font-family: roboto;">
    <div class="Ticket-header">
        <div class="Ticket-header-text">OUR AVALIABLE TICKET</div> 

        <div class="Ticket-header-text2">
            <div><span  style="font-size: large;" >10:00 </span><span style="font-size: smaller;">pm</span></div> 
            <div>Owerri mall</div> 
        
        </div>

        <div class="get-ticket-btn"> GET TICKET</div>
        
    </div>
        {% for ticket in tickets %}
        <div class="ticket-container">
            <div class="ticket-type">{{ticket.type}}</div>
            <div class="ticket-img-container">
                <img src="{{ticket.image_URL}}" alt="ticket-view" >
                <div class="ticket-dots"></div>
                <div class="ticket-clip-top"></div>
                <div class="ticket-clip-bottom"></div>
            </div>
            <div>
            <div class="Ticket-info">
                {{ticket.specification}}
                <div>
                    <div class="Ticket-price">&#8358; {{ticket.price}}</div>
                    <div class="ticket-bottom">
                        <div class="ticket-minus" id="{{ticket.id}}"><span style="position: absolute; top: 14%; left:32%;">&#8722;</span></div>
                        <div class="ticket-number" id="{{ticket.id}}"><span style="position: absolute; top: 20%; left:36%;">0</span></div>
                        <div class="ticket-plus" id="{{ticket.id}}"><span style="position: absolute; top: 15%; left:33%;">&#43;</span></div>              
                    </div>
                </div> 
            </div>
        </div>
        {% endfor %}
        {% csrf_token %}
        <a href="{% url 'Events:shipping' %}">
            <div style="width: 300px; margin: 5px auto; padding: 5px 5px; background-color: rgb(0, 0, 0);text-align: center; margin-top: 20px; border-radius: 5px; height: 30px;color: white;"><p style="margin: 6px; font-size: smaller;">proceed to checkout</p></div>
        </a>
    </div>
    <div class="none" id="cart-page">
        <div style="background-color: whitesmoke; padding-top: 5px; padding-bottom: 5px;">
            <div class="close-cart" id="close-cart">
                <p style="margin: 6px;">close</p>
            </div>
            <div style="color:rgb(255, 0, 0);font-size: small; padding: 5px;">if you can't see your item or it isn't updated try reloading the page</div>
            <div class="cart-container">
                <div class="cart-summary">
                    {% for item in item %}
                    <div class="cart-summary-container">
                        <div>
                            <p>{{item.ticket.specification}}</p>
                            <p>{{item.ticket.type}}</p>
                        </div>
                        <div style="margin-left: auto;">
                            <p> &#8358; {{item.ticket.price}}</p>
                        </div>
                    </div>
                    
                    <div class="cart-summary-container2">
                        <div style="display: flex;">
                            <div class="cart-ticket-minus" id="{{item.ticket.id}}"><span style="position: absolute; top: 14%; left:32%;">&#8722;</span></div>
                            <div class="cart-ticket-number" id="{{item.ticket.id}}">{{item.quantity}}</div>
                            <div class="cart-ticket-plus" id="{{item.ticket.id}}"><span style="position: absolute; top: 2px; left:8.5px;">&#43;</span></div>              

                        </div>
                        <div style="margin-left: auto;">
                            <h3>X</h3>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            
            
                <div class="cart-total">
                    <div class="cart-total-item">
                        <div class="cart-total-item-list">
                            Sub-Total
                        </div>
                        <div style="margin-left: auto;">
                            &#8358; {{order.total_cost}}
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; border-bottom: 1px solid rgb(133, 133, 133);padding: 10px 5px;">
                        <div>
                            VAT
                        </div>
                        <div style="margin-left: auto;">
                            &#8358; 0.00
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; padding: 5px 10px;margin-top: 30px;">
                        <div>
                            Total
                        </div>
                        <div style="margin-left: auto;">
                            &#8358; {{order.total_cost}}
                        </div>
                    </div>
                </div>
            </div>
            <a href="{% url 'Events:shipping' %}">
                <div style="width: 100px; margin: 1px auto; padding: 2px 5px; background-color: rgb(0, 0, 0);text-align: center; margin-bottom: 20px; border-radius: 20px; height: 30px;color: white;"><p style="margin: 6px;">checkout</p></div>
            </a>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/ticket.js' %}"></script>
    
{% endblock %}

