<div>
    <div>
        # OUR AVALIABLE TICKET 

        choose from our list of ticket categories

        10:00 PM 
        Owerri mall
    </div>
    <div>
        Regular
        This ticket category comes with staying outside the excusive side but still under the lime light

        Select the number of Ticket you will be needing
        - 7 +
        add
    </div>
    <div>
        VIP
        This ticket category comes with staying outside the excusive side but still under the lime light

        Select the number of Ticket you will be needing
        - 7 +
        add 
    </div>

    <div>
        S-VIP
        This ticket category comes with staying outside the excusive side but still under the lime light

        Select the number of Ticket you will be needing
        - 7 +
        add
    </div>
    <div style="background-color: rgb(158, 157, 157); padding: 20px; text-align: center;">
        <h2 style="margin: 0px;">contact us</h2>
        <div style="display: grid; grid-template-columns: 50% 50%;">
            <div style="background-color: aliceblue; padding: 20px">
                phone
            </div>
            <div style="background-color: rgb(56, 156, 16); padding: 20px">
                whatsapp
            </div>
            <div style="background-color: rgb(41, 3, 28); padding: 20px">
                Email
            </div>
            <div style="background-color: rgb(16, 20, 24); padding: 20px">
                instagram
            </div>
        </div>
    </div>
</div>